* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%; /* makes 1rem 10px */
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em; /* default font of 16px */
    background: #fff7ed;
    background-color: #F0F7FC;
  }

  main, img {
    border-radius: 30px;

  }

  main {
    max-width: 350px;
    background-color: #FFFFFF;  
    padding: 1em;
  }

  img {
    width: 100%;
    
  }